# Python
__pycache__/
*.py[cod]
*$py.class
wheels/
*.egg-info/
.installed.cfg
*.egg
flagged/
whisper-finetuned-zh-tw/
whisper-peft-finetuned-zh-tw*
asr_transcription_streaming_cache/
youtube_data/
output*
api_key
log/*
checkpoint*
.env
*.wav
whisper/
whisper.cpp/
ggml/
app/docker_temp.sh
.dockerignore
*temp.py
nohup*
airflow/*
!airflow/docker-compose.yaml
mlartifacts/*
mlruns/*
test_mlflow*
evaluation_results*
whisper-*
nginx/logs*